services: 
  type: web
  name: keycloak
  runtime: docker
  envVars:
    - key: KEYCLOAK_ADMIN
    value: admin
    - kwy: KEYCLOAK_ADMIN_PASSWORD
    value: A4d!25oS8h1%#!
  dockerCommand: -v start-dev