services:
  - type: web
    name: keycloak
    runtime: docker
    dockerfilePath: ./Back-end/keycloak/Dockerfile
    dockerContext: ./Back-end/keycloak
    plan: free
    region: oregon
    envVars:
    - key: KEYCLOAK_ADMIN
      value: admin
    - key: KEYCLOAK_ADMIN_PASSWORD
      value: A4d!25oS8h1%#!
  - type: web
    name: service-discovery
    runtime: docker
    region: oregon
    plan: free
    dockerfilePath: ./Back-end/discovery-server/Dockerfile
    dockerContext: ./Back-end/discovery-server
    autoDeploy: false
  - type: web
    name: api-gateway
    runtime: docker
    region: oregon
    plan: free
    dockerfilePath: ./Back-end/api-gateway/Dockerfile
    dockerContext: ./Back-end/api-gateway

databases:
  - name: keycloakdb
    region: oregon
    plan: free