* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

#container {
	margin: auto;
}

#navbar {
	padding: 10px;
	display: flex;
	justify-content: center;
	align-self: stretch;
	background-color: white;
	color: #015da0;
	gap: 52px;
}

#logo img {
	width: 127px;
	margin: auto 30px auto 20px;
}

#navbar a {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	font-size: 16px;
	color: inherit;
	transition: transform 0.3s;
}

#navbar a:hover {
	transform: scale(1.2);
	color: #028ff5;
}

#search {
	margin-left: 300px;
}

#search ion-icon {
	font-size: 30px;
}

#bannerImg {
	width: 100%;
	height: 700px;
}

#content {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	padding-top: 38px;
	width: 1500px;
	gap: 38px;
}

h1 {
	margin: 38px auto 25px 90px;
}

p {
	margin: 0 200px 25px;
}

#content ul {
	list-style: none;
	margin: 0 200px 100px;
}

#content ul li {
	padding: 20px 0;
}

#footer {
	background-color: #22282e;
	color: white;
	display: flex;
	align-items: center;
	padding: 20px;
	margin: auto;
	gap: 650px;
}

#footer ul {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

#footer ul li {
	padding: 20px;
	transition: transform 0.3s;
}

#footer li:hover {
	transform: scale(1.2);
	text-decoration: underline;
}

#footer a {
	text-decoration: none;
	color: inherit;
}

#linksFooter {
	gap: 20px;
}

/* CADASTRO DE AÇÃO SOCIAL (modal) */
.modal {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
	padding-top: 60px;
}

.modal-content {
	background-color: #fefefe;
	margin: 5% auto;
	padding: 20px;
	border: 1px solid #706f6f;
	width: 80%;
}

.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

input[type="submit"] {
	background-color: #4caf50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: transform 0.3s;
}

input[type="submit"]:hover {
	transform: scale(1.1);
	background-color: #45a049;
}

/* BARRA DE PESQUISA */
.search-box {
	border-radius: 7px;
	overflow: hidden;
	border: 1px solid #015da0;
	display: none;
}

.search-box input {
	padding: 5px;
	width: 200px;
}

.search-box button {
	padding: 5px 10px;
	background-color: #4caf50;
	border: none;
	color: white;
	cursor: pointer;
}

.search-box button:hover {
	background-color: #45a049;
}

#closeSearchBox {
	display: none;
}
