server:
    port: 8083

keycloak:
    clientSecret: ShKKRC6M5awKrNA1tkRq8EoXm5lMcgUv
    realm: PiraputangaDev

spring:
    application.name: email-service
    security:
        oauth2:
            resourceserver:
                jwt:
                    issuer-uri: http://localhost:8080/realms/PiraputangaDev
                    jwk-set-uri: http://localhost:8080/realms/PiraputangaDev/protocol/openid-connect/certs
    mail: 
        host: smtp.gmail.com
        port: 587
        username: piraputanga.dev@gmail.com
        password: plinpkddvyoqdwha
        properties:
            mail:
                smtp:
                    auth: true
                    starttls:
                        enable: true

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
  instance:
    hostname: localhost