
spring:
    application.name: socialactions-service
    datasource:
        url: jdbc:h2:file:./data/socialactions
        driverClassName: org.h2.Driver
        username: sa
        password: 
    jpa:
        database-platform: org.hibernate.dialect.H2Dialect
        generate-ddl: true
    h2:
        console:
            enabled: true
    security:
        oauth2:
            resourceserver:
                jwt:
                    issuer-uri: http://localhost:8080/realms/PiraputangaDev
server:
    port: 8082
    error:
        inlude-stacktrace: never

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
  instance:
    hostname: localhost