* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

#container {
	margin: auto;
}

#navbar {
	padding: 10px;
	display: flex;
	justify-content: center;
	align-self: stretch;
	background-color: white;
	color: #015da0;
	gap: 52px;
}

#logo img {
	width: 127px;
	margin: auto 30px auto 20px;
}

#navbar a {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	font-size: 16px;
	color: inherit;
	transition: transform 0.3s;
}

#navbar a:hover {
	transform: scale(1.2);
	color: #028ff5;
}

#search {
	margin-left: 300px;
}

#search ion-icon {
	font-size: 30px;
}

#bannerImg {
	width: 100%;
	height: 700px;
}

#content {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	padding-top: 38px;
	width: 1500px;
	gap: 38px;
}

h1 {
	margin: 38px auto 25px 90px;
}

p {
	margin: 0 200px 25px;
}

#content ul {
	list-style: none;
	margin: 0 200px 100px;
}

#content ul li {
	padding: 20px 0;
}

#footer {
	background-color: #22282e;
	color: white;
	display: flex;
	align-items: center;
	padding: 20px;
	margin: auto;
	gap: 650px;
}

#footer ul {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

#footer ul li {
	padding: 20px;
	transition: transform 0.3s;
}

#footer li:hover {
	transform: scale(1.2);
	text-decoration: underline;
}

#footer a {
	text-decoration: none;
	color: inherit;
}

#linksFooter {
	gap: 20px;
}

/* CADASTRO DE AÇÃO SOCIAL (modal) */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.8);
	padding-top: 60px;
}

.modal-content {
	background-color: #fefefe;
	padding: 20px;
	width: 50%;
	margin: auto;
	border: 1px solid gray;
	border-radius: 15px;
	overflow: hidden;
}

.close {
	color: #015da0;
	float: right;
	font-size: 35px;
	font-weight: bold;
	transition: transform 0.3s;
}

.close:hover,
.close:focus {
	transform: scale(1.2);
	color: #028ff5;
	text-decoration: none;
	cursor: pointer;
}

label {
	display: block;
	margin: 15px auto;
	width: 80%;
	font-size: 20px;
}

#form input {
	display: block;
	margin: auto;
	width: 80%;
	padding: 20px;
	border: 1px solid gray;
	border-radius: 4px;
	overflow: hidden;
}

#form input:hover {
	border: 1px solid black;
}

textarea {
	display: block;
	margin: auto;
	width: 80%;
	padding: 20px;
	border: 1px solid gray;
	border-radius: 4px;
	overflow: hidden;
}

textarea:hover {
	border: 1px solid black;
}

input[type="date"]:hover {
	cursor: pointer;
}

input[type="submit"] {
	background-color: #4caf50;
	color: white;
	padding: 10px 20px;
	width: 50%;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: transform 0.3s;
}

input[type="submit"]:hover {
	transform: scale(1.1);
	background-color: #45a049;
}

/* BARRA DE PESQUISA */
.search-box {
	display: none;
	border-radius: 7px;
	overflow: hidden;
	border: 1px solid gray;
}

.search-box input {
	padding: 5px;
	width: 200px;
}

.search-box button {
	padding: 5px 10px;
	background-color: #4caf50;
	border: none;
	color: white;
	cursor: pointer;
}

.search-box button:hover {
	background-color: #45a049;
}

#closeSearchBox {
	display: none;
}

/* Lista de ações sociais */
#header {
	display: flex;
	align-items: center;
}

#header h1 {
	display: flex;
	align-items: center;
	color: #015da0;
	margin: 20px;
}

#backToMainPage {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 100px;
	cursor: pointer;
	background: none;
	border: none;
	font-size: 30px;
	color: #015da0;
	transition: transform 0.3s;
}

#backToMainPage:hover {
	transform: scale(1.5);
}

#socialActionsListPage{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#socialActionsList {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
}

.socialAction {
	display: flex;
	flex-direction: column;
	list-style: none;
	width: 100%;
	background-color: #c9dfec;
	margin: 5px;
	max-width: 100rem;
}

.socialAction #name {
	display: flex;
	justify-content: center;
	padding-top: 20px;
	font-size: 30px;
	font-weight: bold;
	width: 100%;
	max-width: 70%;
	line-break: anywhere;
}

.socialAction #description {
	display: flex;
	justify-content: center;
	width: 100%;
	max-width: 70%;
	line-break: anywhere;
}

#removeActionButton {
	display: flex;
	justify-content: center;
	margin: 5px;
	border: none;
	font-size: 20px;
	color: #a04545;
	width: 100%;
}

#removeActionButton:hover {
	background-color: #bac0c2;
}

#volunteerButton {
	display: flex;
	justify-content: center;
	margin: 5px;
	border: none;
	font-size: 20px;
	color: #58b95a;
	width: 100%;
}

#volunteerButton:hover {
	background-color: #bac0c2;
}